ASTRA_DB_APPLICATION_TOKEN='token'
ASTRA_DB_DATABASE_ID='dd'
ASTRA_DB_REGION='ap-south-1'
ASTRA_DB_NAMESPACE='default_keyspace'
OPENAI_API_KEY='ok'
ASTRA_DB_ENDPOINT='astraep'
AZURE_OPENAI_ENDPOINT='ep'
AZURE_OPENAI_API_KEY='key'

